<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" [ngStyle]="{'width': getProgeso1}" style="height:10px;" role="progressbar">
                    </div>
                </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" [ngStyle]="{'width': getProgeso2}" style="height:10px;" role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor [valor]="15" (progressEmiter)="progreso1=$event"></app-incrementor>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementor [valor]="25" (progressEmiter)="progreso2=$event"></app-incrementor>
            </div>
        </div>
    </div>
</div>